@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.square {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}
.square i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}
.square i:nth-child(2) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}
.square i:nth-child(3) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 10s linear infinite;
}
.square:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.login {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.login h2 {
    font-size: 2em;
    color:#ff0000;

}
.login .inputbx {
    position: relative;
    width: 100%;
}
.login .inputbx input {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background:transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;

}
.login .inputbx input[type="submit"] {
    width: 100%;
    background: linear-gradient(45deg,#ff0000,#111,black);
    border: 2px solid #ff0000;
    cursor: pointer;
}
.login .inputbx input[type="submit"]:hover {
    
    box-shadow:0 0 7px 7px rgba(255, 0, 0, 0.8888) ;
    transition: 0.1s ease;
    
}
.login .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.login .links a {
    color: #fff;
    text-decoration: none;
}
.psstxt {
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    /*font-size: 15px;*/
    font-weight: 100;
    padding-top: 10px;
    
}
p {
    display:block;
    width: 150px;
    margin-left: 20px;
}
.login .inputbx .psstxt #chek {
    width: 20px;
    border-radius: 50%;
}
.login .inputbx.wrong input:focus {
    border-color: #ff0000;
}
.login .inputbx.correct input:focus {
    border-color: green;
}
.login .inputbx span {
    display: flex;
    justify-content: flex-start;
    font-weight: 100;
    font-size: 11px;
    padding-top: 6px;
    color: #fff;
}
.wrongpass:focus {
    color: #ff0000;
}
.correctpass:focus {
    color: green;
}